# Data Science Tools and Ecosystem

**Objectives:**

1. Create a Jupyter Notebook with markdown and code cells
2. List examples of languages, libraries and tools used in Data Science
3. Share your Jupyter Notebook publicly on GitHub
4. Evaluate notebooks submitted by your peers using the provided rubric
5. Demonstrate proficiency in Data Science toolkit knowledge

In this notebook, we will summarize our theoretical and practical learnings on Data Science Tools and Ecosystem.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Scientific computing libraries (i.e. Pandas, Numpy)
2. Visualization libraries (i.e Matplotlib, Seaborn)
3. Machine Learning and Deep Learning (i.e. Scikit-Learn, Keras, TensorFlow, PyTorch)
4. ApacheSpark
5. Scala libraries
6. R Libraries

| Data Science Tools                        |                                                |
|:------------------------------------------|:-----------------------------------------------|
| Data Management                           | i.e. MySQL, PostgreSQL, cassandra              |
| Operating System                          | i.e. Jupyter, RStudio, Microsoft Visual Studio |
| Data Integration and Transformation Tools | i.e. Spark SQL, Kubeflow, Node-RED             |

Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#  This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Mark Villanueva